# Firebase Service Account Key
serviceAccountKey(ParkSpotter).json

# Çevre Değişken Dosyası / Environmental Variable File
.env

# PyCharm İle İlgili Geçici Dosyalar / Pycharm Temprory Files
.idea/

# Python Geçici Dosyaları / Python Temprory Files
*.pyc
__pycache__/

# Sanal Ortam / Virtual Enviroment
.venv/

# Diğer Geçici Dosyalar/ Other Temprory Files
temp_image.jpg
temp_parking_spot_*.json

# Test Kod Dosyası / Test Code File
test_code.py